*{
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

body{
  margin: 2vw 5vw 2vw 5vw;
  padding: 0px;
  background-color: #ffe561;
  color: #ed8434;
  font-size: 2rem;
  background-image: url('goats.png');
  background-repeat: repeat;
  background-size: auto;
}

h1{
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fffabd;
  border: 4.5px solid #ed8434;
}

h2{
  padding: 10px;
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0;
  background-color: #fffabd;
  border: 4.5px solid #ed8434;
}

h3{
  margin-top: 0;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

#contentGrid{
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 2vmin;
  grid-row-gap: 2vmin;
  background-color: #ffffff opacity 0;
  font-size: 1.5rem;
}

.contentItem{
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  color: #ed8434;
  border: 4.5px solid #ed8434;
  height: 100%;
  background-color: #fffabd;
}

.contentItem li{
  padding: 8px;
}

.contentImage{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
